.cardDetail {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  z-index: 10000;
  cursor: pointer;
}
.cardDetail.active {
  display: flex;
}
.close {
  margin: 20px;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
}
.content {
  padding: 25px;
  background: white;
  cursor: auto;
  display: flex;
  margin-top: 30px;
  gap: 40px;
}
.container {
  width: 1240px;
  height: 704px;
  padding: 40px 20px;
  margin: auto;
}
.slider {
  width: 560px;
  height: 560px;
}
.photo {
  height: 560px;
  margin-bottom: 10px;
}
.slide {
  width: 560px;
  height: 560px;
}
.slideImg {
  height: 560px;
  width: 560px;
  object-fit: cover;
  object-position: center;
}
.back {
  left: 10%;
}
.next {
  right: 10%;
}
.arrows {
  position: absolute;
  top: 45%;
  background-color: white;
  border-radius: 50px;
  z-index: 100000;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel {
  display: flex;
  position: relative;
  flex-direction: column;
}
.dotGroup {
  display: flex;
  gap: 5px;
}
.dot {
  width: 60px;
  height: 60px;
}
.pagination {
  width: 56px;
  height: 56px;
  object-fit: cover;
  object-position: center;
}
.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.35;
  margin-bottom: 18px;
}
.price {
  font-weight: 400;
}
.btn {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 190px;
  height: 45px;
  color: #ffffff;
  background-color: #000000;
  font-size: 14px;
  border-radius: 5px;
}
.desc {
  font-size: 14px;
  font-weight: 100;
}
