.contacts {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 150px;
}
.contacts h1 {
  margin-bottom: 40px;
  font-weight: 500;
}
.subtitle {
  margin-bottom: 90px;
  font-weight: 100;
  font-size: 24px;
}
.content {
  display: flex;
  gap: 40px;
}
.info {
  text-align: left;
  width: 460px;
  font-weight: 300;
}
.numAndEmail {
  font-size: 30px;
  line-height: 1.45;
  margin-bottom: 40px;
}
.address {
  font-size: 18px;
  margin-bottom: 20px;
}
.socials {
  display: flex;
  gap: 3px;
}
.socials li {
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.socials li img {
  width: 30px;
  height: 30px;
}
.inputs {
  display: flex;
  flex-direction: column;
  width: 460px;
}
.inputs input {
  margin-bottom: 25px;
}
.input {
  border: 1px solid #c7c7c7;
  margin: 0;
  font-size: 100%;
  height: 60px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 1.33;
  width: 100%;
}
.inputs textarea {
  padding-top: 20px;
  resize: vertical;
  outline: none;
  height: 102px;
}
.btn {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #ffffff;
  background-color: #1f5bff;
  border-radius: 30px;
  text-align: center;
  height: 60px;
  font-size: 16px;
  padding-left: 60px;
  padding-right: 60px;
  width: 200px;
}
