.splide {
  min-height: 500px;
  color: white;
  opacity: 1;
  
}
.splide__slide {
  height: 846px;
  
}
.splide__pagination {
  padding-bottom: 20px;
  gap: 10px;
}
.splide__pagination__page {
  background: none;
  border: 2px solid white;
  width: 10px;
  height: 10px;
  opacity: 1;
}
.splide__arrow{
  opacity: 1;
}
.splide__pagination__page.is-active {
  border: 2px solid white;
  opacity: 1;
}
.splide__slide-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 846px;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 48px;
  text-align: center;
  gap: 50px;
}
.slide_btn {
  color: #000000;
  background-color: #ffffff;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 200px;
  height: 60px;
  font-size: 18px;
  text-transform: uppercase;
}
