.modal{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}
.content{
  padding: 25px;
  background: white;
  border-radius: 16px;
  min-width: 250px;
}
.modal.active{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}