.delivery {
  width: 760px;
  margin: 0 auto;
  margin-bottom: 140px;
  margin-top: 130px;
}
.delivery h1 {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 25px;
  line-height: 1.35;
}
.delivery p {
  text-align: left;
  line-height: 1.45;
  font-size: 20px;
  font-weight: 100;
}
