.shop {
  position: absolute;
  z-index: 10000;
  width: 80px;
  height: 80px;
  top: 100px;
  right: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop-btn {
  width: 40px;
  height: 40px;
  opacity: 1;
}
.shop-count {
  position: absolute;
  text-align: center;
  line-height: 30px;
  background-color: red;
  min-width: 30px;
  height: 30px;
  padding: 0 5px;
  border-radius: 30px;
  right: -3px;
  bottom: -3px;
}

/* ------------------------ */

