.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.title {
  margin-bottom: 5px;
}
.input {
  color: #000000;
  border: 1px solid #000000;
  height: 56px;
  padding: 0 20px;
}
