.footer {
  display: flex !important;
  visibility: visible !important;
  position: relative !important;
  width: 100% !important;
  pointer-events: all !important;
  opacity: 1 !important;
  margin: 0 !important;
  z-index: 1 !important;
  background-color: #000;
  height: 70px;
  color: white;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}
