.order {
  display: table;
  width: 100%;
  height: 100px;
  vertical-align: middle;
}
.img {
  display: table-cell;
  width: 70px;
  height: 100px;
  padding-right: 20px;
  vertical-align: middle;
}
.title {
  display: table-cell;
  font-size: 16px;
  padding: 15px 0;
  font-weight: 500;
  vertical-align: middle;
  color: #000;
  line-height: 1.55;
  width: 165px;
}
.count {
  display: table-cell;
  width: 80px;
  padding: 13px 20px 16px;
  padding-left: 10px;
  vertical-align: middle;
  color: #000;
  white-space: nowrap;
  font-size: 18px;
  line-height: 1.55;
  font-weight: 300;
}
.countBtn {
  opacity: 0.4;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.countNum {
  font-size: 16px;
  line-height: 16px;
  margin: 0 5px;
  padding: 2px 5px;
  vertical-align: middle;
}
.countImg {
}
.amount {
  display: table-cell;
  width: 80px;
  font-size: 16px;
  padding: 15px 0;
  vertical-align: middle;
  color: #000;
  white-space: nowrap;
}
.del {
  display: table-cell;
  width: 20px;
  padding: 15px 0 15px 15px;
  vertical-align: middle;
  opacity: 0.4;
}
.remove{
  width: 20px;
  height: 20px;  

}
