.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.title {
  margin-bottom: 5px;
}
.orderForm {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 300;
  line-height: 1.55;
  font-size: 14px;
  width: 100%;
}
.input {
  color: #000000;
  border: 1px solid #000000;
  height: 56px;
  padding: 0 20px;
  width: 100%;
}
.result {
  padding-top: 15px;
  font-weight: 500;
  text-align: right;
  color: #000;
  font-size: 24px;
  line-height: 1.5;
}
.resultBtn[type=submit] {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 100%;
  color: #ffffff;
  background-color: #000000;
  height: 60px;
}