.advantages {
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
  margin: 150px 0;
  font-weight: 500;
}
.advantages__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.advantages h1 {
  margin-bottom: 105px;
}
.advantages__img {
  width: 100px;
  height: auto;
  max-width: 100%;
  margin-bottom: 25px;
}
.advantages__title {
  margin-top: 12px;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 1.17;
}
.advantages__paragraph {
  font-size: 16px;
  line-height: 1.55;
  font-weight: 100;
}
