@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
}
.disabled{
  display: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  display: flex;
  color: aliceblue;
  align-items: center;
  height: 120px;
  background: #003448;
  padding: 0 50px;
  font-size: 20px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}
.pos{
  height: 120px;
  width: 100%;
}
.pos2{
  height: 1px;
  width: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
  width: 55%;
  color: white;
}
.nav a{
  color: white;
  transition: color 500ms ease;
}
.nav a:hover {
  color: rgb(156, 156, 156);
}
.nav .active{
  color: rgb(156, 156, 156);
}
.navigation,
.socials-block {
  display: flex;
  align-items: center;
  gap: 30px;
}
.logo {
  width: 170px;
}
.socials-block {
  position: absolute;
  right: 50px;
}
.socials-block_socials {
  display: flex;
  gap: 20px;
}
.socials-block_socials li {
  width: 40px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials-block_socials li img {
  width: 20px;
  height: 40px;
}
.promo {
  height: 300px;
  margin-top: 120px;
  text-align: center;
}
.promo p {
  font-size: 30px;
  line-height: 1.45;
  letter-spacing: 0.45;
  max-width: 980px;
  margin: 0 auto;
}
h1 {
  font-size: 42px;
  line-height: 1.23;
}