.modal {
  position: fixed;
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  z-index: 100001;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal.active {
  display: flex;
}
.close {
  margin: 20px;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
}
.content {
  margin: 65px auto;
  width: 100%;
  max-width: 560px;
  min-height: 300px;
  background-color: rgba(255, 255, 255, 1);
  padding: 40px;
  box-sizing: border-box;
  overflow: auto;
  cursor: auto;
}
.title {
  font-size: 24px;
  line-height: 1.35;
  font-weight: 500;
  margin-bottom: 30px;
}
.orders {
  border-top: 1px solid rgba(200, 200, 200);
  border-bottom: 1px solid rgba(200, 200, 200);
  display: table;
  width: 100%;
}
.sum {
  margin-top: 30px;
  font-size: 16px;
  text-align: right;
  font-weight: 500;
  margin-bottom: 20px;
}


